.row-fluid
  .content.span7
    .row-fluid
      .alert.fade.in.alert-success#stillProcessing{:style => 'display:none;'}
        %a.close{:href => '#', 'data-dismiss' => 'alert'}×
        %strong
          Recuerde que el procesamiento de tareas puede tomar algunos minutos.
    .row-fluid
      %table{:class => 'table documents', :id => 'sorteable'}
        %thead
          %tr
            %th{:style => "width: 70px"}
            %th
              %a{:href => '#', "data-sort" => "name"}Título
            %th
              %a{:href => '#', "data-sort" => "name"}Tipo
            %th
              %a{:href => '#', "data-sort" => "date"}Fecha
            %th
              %a{:href => '#', "data-sort" => "status"}Estado
        %tbody
          - @documents.each do |document|
            = render "document_row", :document => document

  .sidebar.with-scrollbar.span5{:style => "background-color: #fff; border: 0"}
    .with-scrollbar-inner#document
      %h4
        Haga clic en un documento para ver más información
