= content_for :breadcrumbs do
  %ul.breadcrumb
    %li.active Proyectos
.row-fluid
  .span4
    %ul.nav.nav-tabs.nav-stacked
      - @projects.each do |project|
        %li
          = link_to project do
            %i.icon-chevron-right
            = project.name
  .span8

= link_to "New project", new_project_path
