.documents {
  h4 {
    display: inline-block;
  }
  tr.selected td {
    background-color: #d7eff9;
  }
  .info {
    margin-right: 1em;
  }
  .highlights {
    font-size: 12px;
    li {
      line-height: 15px;
    }
  }
  .heading em,
  .highlights em {
    background-color: yellow;
  }
  .tools a {
    color: #555;
  }
}
