.documents {
  tr.selected td {
    background-color: #d7eff9;
  }
  .highlights {
    font-size: 12px;
    li {
      line-height: 15px;
    }
  }
  .heading em,
  .highlights em {
    background-color: yellow;
  }
}
